<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fake Chat</title>
    <script src="socket.io/socket.io.js"></script>
    <script src="/public/index.js"></script>
  </head>
  <body>
    <h1>Socket.io</h1>
  </body>
</html>